<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Order a curtain !</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <header>
        <img src="/images/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a class="authlink" href="/users/register">Register</a></li>
                <li><a class="authlink" href="login">LOGIN</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        This website is made by Aman Prince, Bauduin Marvin, Lamkadam Ayoub, members of group 52 .
    </footer>
</body>



</html>