<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Order a curtain !</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <header>
        <img src="/images/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="/"> Home</a></li>
<<<<<<< HEAD
                <li><a class="authlink" href="/users/register">Register</a></li>
=======
                <li><a href="/curtains">Custom Curtains </a> </li>
                <li><a href="/deco">Deco Items</a></li>
                <li><a href="/support">Support</a></li>
                <li><a class="authlink" href="USER">Register</a></li>
>>>>>>> 283eefb03a5c4a82aeda23e5b2fcb03bf0ecab62
                <li><a class="authlink" href="login">LOGIN</a></li>
            
            </ul>
        </nav>
    </header>
    {{{body}}}
    <footer>
        This website is made by Aman Prince, Bauduin Marvin, Lamkadam Ayoub, members of group 52 .
    </footer>
</body>

</html>