<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Order a curtain !</title>
    <link rel='stylesheet' href='/ProjetWeb1/public/stylesheets/style.css/>
</head>

<body>
    {{{body}}}
</body>



</html>