* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.authlink{
    float: right;
    margin-left: 50px;
}

#imgError{
    display: flex;
    justify-content: center;
}

footer,header{
    padding-bottom: 20px;
    text-align: center;
}

header nav{
    padding: 5px;
    text-align: center;
}

header nav ul li{
    display: inline;
    margin: 50px;
    font-size: x-large;
}

section{
    padding-bottom: 20px;
    padding-left: 50px;
}

                    /**** login page****/

/* Bordered form */
body{
    padding: 0;
    margin: 0;
    background-color:rgb(238, 235, 229);
}
form {
    /*background: #FFD9D9;*/
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
    

  }
  
  /* Full-width inputs */

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

                      /**** Home page****/
#homeImg{
padding: 7vh 10vw;
width: 73vw;
height: 78vh;

}