<form method="post" action="/users/add" >

    <div class="firstName">
        <label>First name :</label>
        <input type="text" name="userFirstName" required>
    </div>

    <div class="lastName">
        <label>Last name</label>
        <input type="text" name="userLastName" required>
    </div>

    <div class="email">
        <label>Email</label>
        <input type="email"  name="userEmail" required>
    </div>

    <div class="password">
        <label>Password</label>
        <input type="password" name="userPassword" required>
    </div>

    <div class="password">
        <label>Password confirmation</label>
        <input type="password" name="userPasswordConfirmation" required>
    </div>

    <div class="submit">
        <input type="submit" value="Sign up">
    </div>
    
</form>